{% extends "pengasuh/hasil.html" %}
{% block content %}

<h3>Pencapaian Quran Santri</h3>


<!-- Button trigger modal -->
<div class="card-body table-responsive">
    <div class="min-h-screen bg-white py-2">
        <div class="container-fluid">
            <table class="table">
                <thead class="" style="background-color: #138500; color: #FFFFFF;">
                    <tr>
                        <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Tanggal </th>
                        <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Juz </th>
                        <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Surah </th>
                        <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Halaman </th>
                        <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Ayat </th>
                        <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Pengajar
                        </th>
                        <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Keterangan
                        </th>
                        <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Action </th>
                    </tr>
                </thead>
                {%for q in data%}
                <tbody class="divide-y divide-gray-500" style="border-color: #138500;">
                    <tr>
                        <th scope="row" class="text-center">{{ q.tgl }}</th>
                        <td>{{q.juz}}</td>
                        <td>{{q.surah}}</td>
                        <td>{{q.halaman}}</td>
                        <td>{{q.ayat}}</td>
                        <td>{{q.pengajar}}</td>
                        <td>{{q.keterangan}}</td>
                        <td scope="row" class="text-center">
                            <a class="btn btn-sm btn-danger"
                                href="/pengajar/pengajar_input_quran/{{d.id}}/deletequran"><i
                                    class="fas fa-trash-alt"></i></a>
                        </td>

                    </tr>
                </tbody>
                {%endfor%}
            </table>
        </div>
    </div>
</div>

{%endblock%}