{% extends 'base/base.html' %}
{%block content%}

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

        <nav class="navbar navbar-light bg-white">
            <div class="container-fluid">
                <a class="navbar-brand">
                    <h2>Data Santri</h2>
                </a>

                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-success" style="background-color:#138500 ;" type="submit">Search</button>
                </form>
            </div>

        </nav>

        <div class="card-body">
            <div class="container-fluid">
                <div class="min-h-screen bg-white py-2">
                    <div class=" row d-flex">
                        <table class="display bg-white divide-y divide-gray-300 justify-content-center" id=""
                            style="border: green;" rules="rows">
                            <thead class="" style="background-color: #138500; color: #FFFFFF;">
                                <!-- <tr class="text-white text-left" style="background-color: #138500; color: #FFFFFF ;"> -->
                                <tr>
                                    <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> No </th>
                                    <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> NIS </th>
                                    <th class="font-semibold text-sm uppercase px-4 py-2 text-center">Nama Lengkap</th>
                                    <th class="font-semibold text-sm uppercase px-4 py-2 text-center">Tempat, Tanggal
                                        Lahir</th>
                                    <th class="font-semibold text-sm uppercase px-4 py-2 text-center">Jenis Kelamin</th>
                                    <th class="font-semibold text-sm uppercase px-4 py-2 text-center">Kategori</th>
                                    <th class="font-semibold text-sm uppercase px-4 py-2 text-center">Action</th>
                                </tr>
                            </thead>
                            {% for s in santri %}
                            <tbody class="divide-y divide-gray-200">
                                <tr>
                                    <th scope="row" class="text-center">{{ forloop.counter }}</th>
                                    <td>{{s.nis}}</td>
                                    <td>{{s.nama_santri}}</td>
                                    <td>{{s.tempat_lahir}}, {{s.tanggal_lahir}}</td>
                                    <td>{{s.jk}}</td>
                                    <td>{% if not forloop.last %}{{s.ktgri}}{% endif %}</td>
                                    <td>
                                        <a class="nav-link active" aria-current="page" href="/pengasuh/hasil">Lihat</a>
                                    </td>
                                </tr>
                            </tbody>
                            {%endfor%}
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="tab-pane fade" id="pengajar" role="tabpanel" aria-labelledby="pengajar-tab">
        <h3>pengajar</h3>
    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <h2> </h2>
        <h3>Pengumuman Pondok Pesantren</h3>

        <div class="card-body">
            <div class="container-fluid">
                <div class="min-h-screen bg-white py-2">
                    <div class=" row d-flex">
                        <table rules="rows" border="1" class=' bg-white divide-y divide-gray-300 justify-content-center'
                            style="border: green;">
                            <thead class="" style="background-color: #138500; color: #FFFFFF;">
                                <tr>
                                    <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> No </th>
                                    <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Tanggal </th>
                                    <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Pengumuman
                                    </th>
                                    <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Selengkapnya
                                    </th>
                                </tr>
                            </thead>
                            {%for p in pngm%}
                            <tbody class="divide-y divide-gray-200">
                                <tr>
                                    <th scope="row" class="text-center">{{ forloop.counter }}</th>
                                    <td class="text-center">{{p.tgl}}</td>
                                    <td class="text-center">{{p.judul}}</td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-link" data-bs-toggle="modal"
                                            data-bs-target="#pengumuman">
                                            lihat pengumuman
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            {%endfor%}
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
</div>

<!-- =============================Modal pengaturan akun============================== -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Pengaturan Akun</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Username</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="username">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="alamat email">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Password</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="password lama">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Ganti Password</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="password baru">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal lihat pengumuman -->
<div class="modal fade" id="pengumuman" tabindex="-1" aria-labelledby="pengumumanLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pengumumanLabel"> Lihat Pengumuman</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{p.pengumuman}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

{%endblock%}