{% extends "adminpondok/base.html" %}
{% block content %}
<!-- {% load crispy_forms_tags %} -->

<!-- CONTENT AREA -->

<h2>Data Santri</h2>
<div class="m-4">
    <nav class="navbar navbar-light bg-white">
        <div class="container-fluid">
            <a class="navbar-brand">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                    style="background-color: #138500; display: inline-block;">
                    Input
                </button>
                <button type="button" class="btn btn-success" style="background-color: #138500;">
                    import
                </button>
            </a>
            <form class="d-flex" novalidate>
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" style="background-color:#138500 ;" type="submit">Search</button>
            </form>
        </div>
    </nav>

    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }} absolute" {% endif %}>{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="min-h-screen bg-white py-2">
        <div class="row d-flex table-responsive" id="asd">
            <table class='table bg-white divide-y divide-gray-300 justify-content-center' style="overflow-y: scroll; border: green;">
                <thead class="table" style="background-color: #138500; color: #FFFFFF;">
                    <!-- <tr class="text-white text-left" style="background-color: #138500; color: #FFFFFF ;"> -->
                    <tr>
                        <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> No </th>
                        <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> NIS </th>
                        <th class="font-semibold text-sm uppercase px-4 py-2 text-center">Nama Lengkap</th>
                        <th class="font-semibold text-sm uppercase px-4 py-2 text-center">Tempat, Tanggal Lahir</th>
                        <th class="font-semibold text-sm uppercase px-4 py-2 text-center">Jenis Kelamin</th>
                        <th class="font-semibold text-sm uppercase px-4 py-2 text-center">Kategori</th>
                        <th class="font-semibold text-sm uppercase px-4 py-2 text-center">Action</th>
                    </tr>
                </thead>
                {% for d in data %}
                <tbody class="divide-y divide-gray-500" style="border-color: #138500;">
                    <tr>
                        <th scope="row" class="text-center">{{ forloop.counter }}</th>
                        <td>{{d.nis}}</td>
                        <td>{{d.nama_santri}}</td>
                        <td>{{d.tempat_lahir}}, {{d.tanggal_lahir}}</td>
                        <td>{{d.jk}}</td>
                        <td>{% for dt in d.ktgri %} {{dt}} {% endfor %}</td>
                        <td>
                            <a class="btn btn-sm btn-success" href="{{d.id}}/detail" data-bs-toggle="modal"
                                data-bs-target="#modaldetail"><i class="fas fa-info-circle"></i></a>
                            <a class="btn btn-sm btn-warning" href="/adminpondok/datasantri/{{d.id}}/update"><i
                                    class="fas fa-pen"></i></a>
                            <a class="btn btn-sm btn-danger" href="{{d.id}}/delete"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



    <!-- Modal Input-->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <form action="" method="post">
                    {% csrf_token %}


                    <div class="modal-header">
                        <h5 class="modal-title">Edit Data Santri</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="form-floating mb-3" style="display: inline-block; width: 50%;">
                            <input type="text" class="form-control" name="nis" id="floatingInput"
                                placeholder="NomorIndukSantri">
                            <label for="floatingInput">Nomor Induk Santri </label>
                        </div>
                        <div class="form-floating mb-3 " style="display: inline-block;width: 40%;">
                            <input type="text" class="form-control" name="telp" id="floatingInput" placeholder="NoTelp">
                            <label for="floatingInput"> No.Telp </label>
                        </div>
                        <div class="form-floating mb-3 " style="display: inline-block ; width: 50%;">
                            <input type="text" class="form-control" name="nama_santri" id="floatingPassword"
                                placeholder="NamaLengkap">
                            <label for="floatingPassword">Nama Lengkap</label>
                        </div>

                        <div class="form-floating mb-3 " style="display: inline-block;width: 40%;">
                            <input type="text" class="form-control" name="email" id="floatingInput"
                                placeholder="NoTelp">
                            <label for="floatingInput"> Email </label>
                        </div>
                        <h></h>
                        <div class="form-floating mb-3 " style="display: inline-block;">
                            <input type="text" class="form-control" name="tempat_lahir" id="floatingInput"
                                placeholder="TempatLahir">
                            <label for="floatingInput">Tempat Lahir</label>
                        </div>

                        <div class="form-floating mb-3" style="display: inline-block;">
                            <input type="date" name="tanggal_lahir">
                        </div>
                        <div class="row">
                            <label>Jenis Kelamin</label>
                            <!-- {{ form.jk }} -->
                            <div class="col-sm-6" style="margin-left: 2rem;">
                                <div class=" mb-10 form-check">
                                    {% for j in data.ktgri %}
                                    <input class="form-check-input" type="radio" name="jk" value="{{jk}}"
                                        id="flexRadioDefault1">
                                    {% endfor %}
                                    <!-- <label class="form-check-label" for="flexRadioDefault1">
                                        Laki-Laki
                                    </label> -->
                                </div>
                                <!-- <div class=" mb-10 form-check">
                                    <input class="form-check-input" type="radio" name="jk" value="{{jk}}"
                                        id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Perempuan
                                    </label>
                                </div> -->
                            </div>
                            <div class="col-sm-6">
                                <div>
                                    <input type="checkbox" name="ktgri" id="Al-Qur'an" value="Al-Qur'an">
                                    <label class="form-check-label" for="Al-Qur'an">
                                        Al-Qur'an
                                    </label>
                                    <input type="checkbox" name="ktgri" id="Matan" value="Matan">
                                    <label class="form-check-label" for="Matan">
                                        Matan
                                    </label>
                                    <input type="checkbox" name="ktgri" id="Nadhom" value="Nadhom">
                                    <label class="form-check-label" for="Nadhom">
                                        Nadhom
                                    </label>
                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea class="form-control" name="almt" placeholder="Leave a comment here"
                                    id="Alamat" style="height: 100px"></textarea>
                                <label for="Alamat">Alamat Santri</label>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success"
                                    style="background-color: #138500;">Simpan</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Modal Edit -->
<div class="modal fade" id="modaledit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modaleditLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form action="" method="post">
                {% csrf_token %}


                <div class="modal-header">
                    <h5 class="modal-title">Edit Data Santri</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="form-floating mb-3" style="display: inline-block; width: 50%;">
                        <input type="text" class="form-control" name="nis" value="{{data.nis}}" id="floatingInput"
                            placeholder="NomorIndukSantri">
                        <label for="floatingInput">Nomor Induk Santri </label>
                    </div>
                    <div class="form-floating mb-3 " style="display: inline-block;width: 40%;">
                        <input type="text" class="form-control" name="telp" value="{{data.telp}}" id="floatingInput"
                            placeholder="NoTelp">
                        <label for="floatingInput"> No.Telp </label>
                    </div>
                    <div class="form-floating mb-3 " style="display: inline-block ; width: 50%;">
                        <input type="text" class="form-control" name="nama_santri" value="nama_santri"
                            id="floatingPassword" placeholder="NamaLengkap">
                        <label for="floatingPassword">Nama Lengkap</label>
                    </div>

                    <div class="form-floating mb-3 " style="display: inline-block;width: 40%;">
                        <input type="text" class="form-control" name="email" value="email" id="floatingInput"
                            placeholder="NoTelp">
                        <label for="floatingInput"> Email </label>
                    </div>
                    <h></h>
                    <div class="form-floating mb-3 " style="display: inline-block;">
                        <input type="text" class="form-control" name="tempat_lahir" value="tempat_lahir"
                            id="floatingInput" placeholder="TempatLahir">
                        <label for="floatingInput">Tempat Lahir</label>
                    </div>

                    <div class="form-floating mb-3" style="display: inline-block;">
                        <input type="date" name="tanggal_lahir" value="tanggal_lahir">
                    </div>
                    <div class="row-4">
                        <label>Jenis Kelamin</label>
                        <!-- {{ form.jk }} -->
                        <div class="" style="margin-left: 2rem;">
                            <div class=" mb-10 form-check">
                                <input class="form-check-input" type="radio" name="jk" value="Laki-laki"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Laki-Laki
                                </label>
                            </div>
                            <div class=" mb-10 form-check">
                                <input class="form-check-input" type="radio" name="jk" value="Perempuan"
                                    id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Perempuan
                                </label>
                            </div>
                            <label class="form-check-label" for="Matan">
                                Matan
                            </label>
                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        <textarea class="form-control" name="almt" placeholder="Leave a comment here" id="Alamat"
                            style="height: 100px"></textarea>
                        <label for="Alamat">Alamat Santri</label>
                    </div>


                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" style="background-color: #138500;">Simpan</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<!-- Modal Detail -->
<div class="modal fade" id="modaldetail" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
    aria-labelledby="modaldetailLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{d.nama_santri}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                DATA SANTRI
            </div>

            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<script>
    function kategori() {
        console.log("KATEGORI", ktgri)
    }
</script>

{% endblock %}