{% extends "adminpondok/base.html" %}
{% block content %}

<h1>Data Pengajar</h1>
<nav class="navbar navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                style="background-color: #138500;">
                Input
            </button>
            <button type="button" class="btn btn-success" style="background-color: #138500;">
                import
            </button>
        </a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" style="background-color:#138500 ;" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="card-body">
    <div class="min-h-screen bg-white py-2">
        <div class="container-fluid">
            <div class=" row d-flex">
                <table class="table table-bordered " style="border-color: transparent;">
                    <thead class="" style="background-color: #138500; color: #FFFFFF;">
                        <tr>
                            <th class="font-semibold text-sm uppercase px-4 py-2 text-center">No</th>
                            <th class="font-semibold text-sm uppercase px-4 py-2 text-center">NIP</th>
                            <th class="font-semibold text-sm uppercase px-4 py-2 text-center">Nama Lengkap</th>
                            <th class="font-semibold text-sm uppercase px-4 py-2 text-center">Tempat, Tanggal Lahir</th>
                            <th class="font-semibold text-sm uppercase px-4 py-2 text-center">Jenis Kelamin</th>
                            <th class="font-semibold text-sm uppercase px-4 py-2 text-center">Pengajar</th>
                            <th class="font-semibold text-sm uppercase px-4 py-2 text-center">action</th>


                        </tr>
                    </thead>
                    {% for d in data %}
                    <tbody>

                        <tr>
                            <th scope="row" class="text-center">{{ forloop.counter }}</th>
                            <td>{{d.NIP}}</td>
                            <td>{{d.nama_pengajar}}</td>
                            <td>{{d.tempat_lahir}}, {{d.tanggal_lahir}}</td>
                            <td>{{d.jk}}</td>
                            <td>{% for dt in d.pngjr %} {{dt}} {% endfor %}</td>

                            <td>
                                <a class="btn btn-sm btn-success" href="/{{d.id}}/detail"><i
                                        class="fas fa-info-circle"></i></a>
                                <a class="btn btn-sm btn-warning"
                                    href="/adminpondok/datapengajar/{{d.id}}/editpengajar"><i
                                        class="fas fa-pen"></i></a>
                                <a class="btn btn-sm btn-danger"
                                    href="/adminpondok/datapengajar/{{d.id}}/deletepengajar"><i
                                        class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>

                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

<!-- ================================ Modal input pengajar ======================================= -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form action="" method="post">
                {% csrf_token %}


                <div class="modal-header">
                    <h5 class="modal-title">Input Data Pengajar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="form-floating mb-3" style="display: inline-block; width: 50%;">
                        <input type="text" class="form-control" name="NIP" id="floatingInput"
                            placeholder="NomorIndukPengajar">
                        <label for="floatingInput">Nomor Induk Pengajar </label>
                    </div>
                    <div class="form-floating mb-3 " style="display: inline-block;width: 40%;">
                        <input type="text" class="form-control" name="telp" id="floatingInput" placeholder="NoTelp">
                        <label for="floatingInput"> No.Telp </label>
                    </div>

                    <div class="form-floating mb-3" style="display: inline-block ; width: 50%;">
                        <input type="text" class="form-control" name="nama_pengajar" id="floatingPassword"
                            placeholder="NamaLengkap">
                        <label for="floatingPassword">Nama Lengkap</label>
                    </div>

                    <div class="form-floating mb-3 " style="display: inline-block;width: 40%;">
                        <input type="text" class="form-control" name="email" id="floatingInput" placeholder="NoTelp">
                        <label for="floatingInput"> Email </label>
                    </div>
                    <h></h>
                    <div class="form-floating mb-3 " style="display: inline-block;">
                        <input type="text" class="form-control" name="tempat_lahir" id="floatingInput"
                            placeholder="TempatLahir">
                        <label for="floatingInput">Tempat Lahir</label>
                    </div>

                    <div class="form-floating mb-3" style="display: inline-block;">
                        <input type="date" name="tanggal_lahir">
                    </div>
                    <div class="row-4">
                        <label>Jenis Kelamin</label>
                        <div class="" style="margin-left: 2rem;">
                            <div class=" mb-10 form-check">
                                <input class="form-check-input" type="radio" name="jk" id="flexRadioDefault1"
                                    value="Laki-Laki">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Laki-Laki
                                </label>
                            </div>
                            <div class="form-check ml-2">
                                <input class="form-check-input" type="radio" name="jk" id="flexRadioDefault2"
                                    value="Perempuan">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Perempuan
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div>
                            <input type="checkbox" name="pngjr" id="Al-Qur'an" value="Al-Qur'an">
                            <label class="form-check-label" for="Al-Qur'an">
                                Al-Qur'an
                            </label>
                            <input type="checkbox" name="pngjr" id="Matan" value="Matan">
                            <label class="form-check-label" for="Matan">
                                Matan
                            </label>
                            <input type="checkbox" name="pngjr" id="Nadhom" value="Nadhom">
                            <label class="form-check-label" for="Nadhom">
                                Nadhom
                            </label>
                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        <textarea class="form-control" name="almt" placeholder="Leave a comment here" id="Alamat"
                            style="height: 100px"></textarea>
                        <label for="Alamat">Alamat Pengajar</label>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" style="background-color: #138500;">Simpan</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock %}