{% extends "adminpondok/base.html" %}
{% block content %}

<div class="content">
  <div class="container-fluid justify-content-center">
    <div class="row px-3 py-2">
      <h4 class="col-9">Dashboard</h4>
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 1100px;">
          <div class="card-header text-light " style="background-color: rgba(19, 133, 0, 1);">Data Santri</div>
          <div class="card-body">
            <!-- <hr style="width: 0.1rem; height: 10rem;"> -->
            <div class="card-group">
              <div class="card text-center">
                <div class="card-body">
                  <h6 class="card-title">Jumlah Santri</h6>
                  <!-- {% for s in santri %} -->
                  <h1>Jumlah 1330</h1>
                  <!-- {% endfor %} -->
                  <p>15 santri merangkap menjadi pengajar</p>
                </div>
              </div>
              <div class="card text-center">
                <div class="card-body">
                  <h6 class="card-title">Santri Laki-Laki</h6>
                  <h1>630</h1>
                  <p>5 santri merangkap menjadi pengajar</p>
                </div>
              </div>
              <div class="card text-center">
                <div class="card-body">
                  <h6 class="card-title">Santri Perempuan</h6>
                  <h1>700</h1>
                  <p>10 santri merangkap menjadi pengajar</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 700px;">
            <div class="card-header text-light " style="background-color: rgba(19, 133, 0, 1);">Daftar Kitab</div>
            <div class="card-body" style="height: 214px;">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button style="color:black" class="nav-link" id="quran-tab" data-bs-toggle="tab" data-bs-target="#quran" type="button" role="tab" aria-controls="quran" aria-selected="true">Al-Qur'an</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button style="color:black" class="nav-link" id="nadhom-tab" data-bs-toggle="tab" data-bs-target="#nadhom" type="button" role="tab" aria-controls="nadhom" aria-selected="true">Nadhom</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button style="color:black" class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="true">Matan</button>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="quran" role="tabpanel" aria-labelledby="quran-tab">
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Nama Surah</th>
                              <th scope="col">Jumlah Ayat</th>
                            </tr>
                          </thead>
                          <!-- {% for q in quran %} -->
                          <tbody>
                            <tr>
                                <td>{{quran.surah}}</td>
                                <td>{{quran.ayat}}</td>
                              </tr>
                            </tbody>
                          <!-- {% endfor %} -->
                        </table>
                      </div>
                    <div class="tab-pane" id="nadhom" role="tabpanel" aria-labelledby="nadhom-tab">
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Nama Kitab</th>
                                <th scope="col">Jumlah Bab</th>
                                <th scope="col">Jumlah Baris</th>
                                <th scope="col">Pengarang</th>
                              </tr>
                            </thead>
                            {% for n in nadhom %}
                            <tbody>
                              <tr>
                                <td>{{ n.nama_kitab }}</td>
                                <td>{{ n.jmlh_bab }}</td>
                                <td>{{ n.jmlh_baris }}</td>
                                <td>{{ n.pengarang }}</td>
                              </tr>
                            </tbody>
                            {% endfor %}
                          </table>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Nama Kitab</th>
                              <th scope="col">Jumlah Fashol</th>
                              <th scope="col">Jumlah Paragraf</th>
                              <th scope="col">Pengarang</th>
                            </tr>
                          </thead>
                          {% for m in matan %}
                          <tbody>
                            <tr>
                              <td>{{ n.nama_kitab }}</td>
                              <td>{{ n.fashol }}</td>
                              <td>{{ n.paragraf }}</td>
                              <td>{{ n.pengarang }}</td>
                            </tr>
                          </tbody>
                          {% endfor %}
                        </table>
                    </div>
                  </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal -->
<div class="modal fade" id="inputpengumuman" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
    <div class="modal-content">

                    <form action="" method="POST">
                      {% csrf_token %}

                      <div class="modal-header">
                        <h5 class="modal-title">Input Pengumuman</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>

                      <!-- modal body -->
                      <div class="modal-body">
                        <div class="form-floating mb-3" style="display: inline-block;">
                          <input type="date" name="tanggal">
                        </div>
                        <tr>
                          <div class="form-floating mb-3" style="display: inline-block ; width: 50%;">
                            <input type="text" class="form-control" name="pngmn" id="floatingInput
                          placeholder=" Pengumuman">
                            <label for="floatingPassword">Pengumuman</label>
                          </div>
                        </tr>

                        <div class="modal-footer">
                          <button type="submit" class="btn btn-primary">Simpan</button>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-3" style="max-width: 700px;">
              <div class="card-header text-light " style="background-color: rgba(19, 133, 0, 1);">Daftar Kitab</div>
              <div class="card-body" style="height: 214px;">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button style="color:black" class="nav-link" id="quran-tab" data-bs-toggle="tab"
                      data-bs-target="#quran" type="button" role="tab" aria-controls="quran"
                      aria-selected="true">Al-Qur'an</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button style="color:black" class="nav-link" id="nadhom-tab" data-bs-toggle="tab"
                      data-bs-target="#nadhom" type="button" role="tab" aria-controls="nadhom"
                      aria-selected="true">Nadhom</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button style="color:black" class="nav-link" id="contact-tab" data-bs-toggle="tab"
                      data-bs-target="#contact" type="button" role="tab" aria-controls="contact"
                      aria-selected="true">Matan</button>
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="quran" role="tabpanel" aria-labelledby="quran-tab">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Nama Surah</th>
                          <th scope="col">Jumlah Ayat</th>
                        </tr>
                      </thead>
                      {% for q in quran %}
                      <tbody>
                        <tr>
                          <td>{{q.surah}}</td>
                          <td>{{q.ayat}}</td>
                        </tr>
                      </tbody>
                      {% endfor %}
                    </table>
                  </div>
                  <div class="tab-pane" id="nadhom" role="tabpanel" aria-labelledby="nadhom-tab">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Nama Kitab</th>
                          <th scope="col">Jumlah Bab</th>
                          <th scope="col">Jumlah Baris</th>
                          <th scope="col">Pengarang</th>
                        </tr>
                      </thead>
                      {% for n in nadhom %}
                      <tbody>
                        <tr>
                          <td>{{ n.nama_kitab }}</td>
                          <td>{{ n.jmlh_bab }}</td>
                          <td>{{ n.jmlh_baris }}</td>
                          <td>{{ n.pengarang }}</td>
                        </tr>
                      </tbody>
                      {% endfor %}
                    </table>
                  </div>
                  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Nama Kitab</th>
                          <th scope="col">Jumlah Fashol</th>
                          <th scope="col">Jumlah Paragraf</th>
                          <th scope="col">Pengarang</th>
                        </tr>
                      </thead>
                      {% for m in matan %}
                      <tbody>
                        <tr>
                          <td>{{ n.nama_kitab }}</td>
                          <td>{{ n.fashol }}</td>
                          <td>{{ n.paragraf }}</td>
                          <td>{{ n.pengarang }}</td>
                        </tr>
                      </tbody>
                      {% endfor %}
                    </table>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row px-5 py-2">
      <div class="col-md-4">
        <div class="card mb-3" style="max-width: 21rem;">
          <div class="card-header text-light " style="background-color: rgba(19, 133, 0, 1);">Daftar Pengajar</div>
          <div class="card-body">
            <div class="card text-center">
              <div class="card-body mb-5">
                <h6 class="card-title">Jumlah Pengajar</h6>
                <h1>67</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="d-flex">
            <button type="button" class="btn btn-success" style="background-color: rgba(19, 133, 0, 1);">Input</button>
            <div class="card mb-3" style="max-width: 150px; background: #ffffff; background-color: #138500;">
              <select class="form-select" style="background-color: #ffffff;">
                <option selected>TAHUN</option>
                <option value="1">2015</option>
                <option value="2">2016</option>
                <option value="3">2017</option>
                <option value="3">2018</option>
                <option value="3">2019</option>
                <option value="3">2020</option>
                <option value="3">2021</option>
              </select>
            </div>
          </div>
          <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-bordered table-striped mb-0">
              <thead style="color: #ffffff;">
                <tr>
                  <th scope="col" style="background-color: rgba(19, 133, 0, 1);">Tanggal</th>
                  <th scope="col" style="background-color: rgba(19, 133, 0, 1);">Pengumuman</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>21 Oktober</td>
                  <td>Imtihan Semester Gasal</td>
                </tr>
                <tr>
                  <td>21 Desember</td>
                  <td>Haul Pengasuh</td>
                </tr>
                <tr>
                  <td>30 Desember</td>
                  <td>Haflah Akhirussanah</td>
                </tr>
                <tr>
                  <td>31 Desember</td>
                  <td>Sarasehan Pondok</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        </div>
        </div>

{% endblock %}