{% extends "adminpondok/base.html" %}
{% block content %}

<h1>Data Santri</h1>

<table class="table table-bordered">
    <thead class="">
        <tr style="background-color: #138500; color: #FFFFFF;">
            <th scope="col">Nomor Induk Santri</th>
            <th scope="col">Nama Lengkap</th>
            <th scope="col">Tempat Lahir</th>
            <th scope="col">Tanggal Lahir</th>
            <th scope="col">Jenis Kelamin</th>
            <th scope="col">Alamat</th>
            <th scope="col">Kategori</th>
            <th scope="col">No.Telp</th>
            <th scope="col">Email</th>
            <th scope="col">Aksi</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">102331</th>
            <td>Samsul Hadi</td>
            <td>SLEMAN</td>
            <td>18 MEI 1999</td>
            <td>LAKI-LAKI</td>
            <td>Bantulan rt 4 rw 7
                Kec.Sleman Kab.Sleman
                Jogjakarta</td>
            <td>Nadhom . Matan</td>
            <td>089123456123</td>
            <td>samsulhad12...</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table>

{% endblock %}