{% extends "adminpondok/base.html" %}
{% block content %}

<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
    style="background-color: #138500;">
    Input
</button>
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
    style="background-color: #138500;">
    Import
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form action="" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Input Data Pengajar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="form-floating mb-3" style=" width: 50%;">
                        <input type="text" class="form-control" id="KodeKitab" placeholder="KodeKitab">
                        <label for="KodeKitab">Kode Kitab </label>
                    </div>

                    <div class="row-4">
                        <label>Kategori</label>
                        <div class="" style="margin-left: 2rem;">
                            <div class=" mb-10 form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="Dasar">
                                <label class="form-check-label" for="Dasar">
                                    Dasar
                                </label>
                            </div>
                            <div class="form-check ml-2">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="Menengah"
                                    checked>
                                <label class="form-check-label" for="Menengah">
                                    Menengah
                                </label>
                            </div>
                            <div class="form-check ml-2">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="Atas" checked>
                                <label class="form-check-label" for="Atas">
                                    Atas
                                </label>
                            </div>
                        </div>
                    </div>



                    <div>
                        <label>Jenis</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="Nadhom">
                            <label class="form-check-label" for="Nadhom">
                                Nadhom
                            </label>
                        </div>
                        <div class="form-check">
                            <<input class="form-check-input" type="radio" name="flexRadioDefault" id="Matan" checked>
                                <label class="form-check-label" for="Matan">
                                    Matan
                                </label>
                        </div>
                        <div class="form-check">
                            <<input class="form-check-input" type="radio" name="flexRadioDefault" id="Alquran" checked>
                                <label class="form-check-label" for="Alquran">
                                    Al-Quran
                                </label>
                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="NamaKitab" placeholder="NamaKitab">
                        <label for="NamaKitab">Nama Kitab </label>
                    </div>
                    <div class="form-floating mb-3" style=" display: inline-block; width: 50%;">
                        <input type="text" class="form-control" id="JumlahBab" placeholder="JumlahBab">
                        <label for="JumlahBab">Jumlah bab </label>
                    </div>
                    <div class="form-floating mb-3" style=" display: inline-block;">
                        <input type="text" class="form-control" id="JumlahFashol" placeholder="JumlahFashol">
                        <label for="JumlahFashol">Jumlah fashol </label>
                    </div>
                    <div class="form-floating mb-3" style=" display: inline-block;">
                        <input type="text" class="form-control" id="JumlahParagraf" placeholder="JumlahParagraf">
                        <label for="JumlahParagraf">Jumlah Paragraf </label>
                    </div>
                    <div class="form-floating mb-3" style=" display: inline-block;">
                        <input type="text" class="form-control" id="JumlahBaris" placeholder="JumlahBaris">
                        <label for="JumlahBaris">Jumlah baris </label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Pengarang">
                        <label for="Pengarang">Pengarang </label>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" style="background-color: #138500;">Simpan</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr style="background-color: #138500; color: #FFFFFF ;">
                <th scope="col">No</th>
                <th scope="col">Kode</th>
                <th scope="col">Kategori</th>
                <th scope="col">Jenis</th>
                <th scope="col">Nama Kitab</th>
                <th scope="col">Jumlah Bab</th>
                <th scope="col">Jumlah fashol</th>
                <th scope="col">Jumlah Paragraf/th>
                <th scope="col">Jumlah Baris</th>
                <th scope="col">Pengarang</th>
                <th scope="col">Aksi</th>
    
            </tr>
        </thead>
        {% for d in data %}
        <tbody>
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{d.kode}}</td>
                <td>{{d.kategori}}</td>
                <td>{{d.jenis}}</td>
                <td>{{d.nama_kitab}}</td>
                <td>{{d.jumlahBab}}</td>
                <td>{{d.jumlahFashol}}</td>
                <td>{{d.jumlahParagraf}}</td>
                <td>{{d.jumlahBaris}}</td>
                <td>{{d.pengarang}}</td>
                <td>{{d.aksi}}</td>
                <td>
                    <a class="btn btn-sm btn-success" href="/{{d.id}}/detail">Detail</a>
                    <a class="btn btn-sm btn-warning" href="/{{d.id}}/update">Update</a>
                    <a class="btn btn-sm btn-danger" href="/{{d.id}}/delete/">Delete</a>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

{% endblock %}