{% extends "adminpondok/base.html" %}
{% block content %}

<div class="m-5">
  <form action="" method="POST">
    {% csrf_token %}
        <h5 class="modal-title mb-3">Edit Data Santri</h5>
        <div class="form-floating mb-3" style="display: inline-block; width: 50%;">
            <input type="text" class="form-control" name="nis" value="{{data1.nis}}" id="floatingInput"
                placeholder="NomorIndukSantri">
            <label for="floatingInput">Nomor Induk Santri </label>
        </div>
        <div class="form-floating mb-3 " style="display: inline-block;width: 40%;">
            <input type="text" class="form-control" name="telp" value="{{data1.telp}}" id="floatingInput"
                placeholder="NoTelp">
            <label for="floatingInput"> No.Telp </label>
        </div>
        <div class="form-floating mb-3 " style="display: inline-block ; width: 50%;">
            <input type="text" class="form-control" name="nama_santri" value="{{data1.nama_santri}}" id="floatingPassword"
                placeholder="NamaLengkap">
            <label for="floatingPassword">Nama Lengkap</label>
        </div>

      <div class="form-floating mb-3 " style="display: inline-block;width: 40%;">
        <input type="text" class="form-control" name="email" value="{{data1.email}}" id="floatingInput"
          placeholder="NoTelp">
        <label for="floatingInput"> Email </label>
      </div>
      <h></h>
      <div class="form-floating mb-3 " style="display: inline-block;">
        <input type="text" class="form-control" name="tempat_lahir" value="{{data1.tempat_lahir}}" id="floatingInput"
          placeholder="TempatLahir">
        <label for="floatingInput">Tempat Lahir</label>
      </div>

      <div class="form-floating mb-3" style="display: inline-block;">
        <input type="date" name="tanggal_lahir" value="{{data1.tanggal_lahir}}">
      </div>
      <div class="row-4">
        <label>Jenis Kelamin</label>
        <div class="" style="margin-left: 2rem;">
          <div class=" mb-10 form-check">
            <input class="form-check-input" type="radio" name="jk" value="Laki-Laki" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Laki-Laki
            </label>
          </div>
          <div class=" mb-10 form-check">
            <input class="form-check-input" type="radio" name="jk" value="Perempuan" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
              Perempuan
            </label>
          </div>
        </div>
      </div>

      <div class="row-4" style="display: inline-block;">
        <Label>Kategori</Label>
        <div class=" mb-10 form-check">
          <input class=" form-check-input" name="ktgri" type="checkbox" value="{{data1.ktgri.AlQuran}}" id="Al-Quran">
          <label class="form-check-label" for="Al-Quran">
            Al-Quran
          </label>
        </div>
        <div class=" mb-10 form-check">
          <input class="form-check-input" name="ktgri" type="checkbox" value="{{data1.ktgri.Nadzom}}" id="Nadzom">
          <label class="form-check-label" for="Nadzom">
            Nadzom
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" name="ktgri" type="checkbox" value="{{data1.ktgri.Matan}}" id="Matan">
          <label class="form-check-label" for="Matan">
            Matan
          </label>
        </div>
      </div>

      <div class="form-floating mb-3">
        <textarea class="form-control" name="almt" placeholder="Alamat Lengkap" id="Alamat"
          style="height: 100px"></textarea>
        <label for="Alamat">Alamat Santri</label>
      </div>


      <div class="modal-footer">
        <button type="submit" class="btn btn-success" style="background-color: #138500;">Simpan</button>
      </div>
    </div>
  </form>

  <!-- <form method="POST">
    {% csrf_token %}
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationDefault01">Nomor Induk Santri</label>
        <input type="text" class="form-control" id="validationDefault01" placeholder="Nomor Induk Santri" name="nis" value="{{data1.nis}}" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefault02">Nama Lengkap</label>
        <input type="text" class="form-control" id="validationDefault02" placeholder="Nama Lengkap" name="nama_santri" value="{{data1.nama_santri}}" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefaultUsername">Email</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend2">@</span>
          </div>
          <input type="text" class="form-control" id="validationDefaultUsername" name="email" value="email" placeholder="Email" aria-describedby="inputGroupPrepend2" required>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationDefault03">City</label>
        <input type="text" class="form-control" id="validationDefault03" placeholder="City" required>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault04">State</label>
        <input type="text" class="form-control" id="validationDefault04" placeholder="State" required>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault05">Zip</label>
        <input type="text" class="form-control" id="validationDefault05" placeholder="Zip" required>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
        <label class="form-check-label" for="invalidCheck2">
          Agree to terms and conditions
        </label>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>
</div> -->

  {% endblock %}