{% extends "adminpondok/dashboard.html" %}
{% block content %}
<!-- {% load static %} -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="fb-profile-block">
        <div class="fb-profile-block-thumb cover-container"></div>
        <div class="profile-img">
          <a href="#">
            <img src="https://danang56.files.wordpress.com/2016/05/logo-asrama-3.jpg" />
          </a>
        </div>
        <div class="profile-name">
          <h2>Nama Pondok Pesantren</h2>
        </div>

        <div class="fb-profile-block-menu">
          <div class="block-menu">
            <ul class="profile-header-tab nav nav-tabs">
              <li class="nav-item"><a href="#profile-post" class="nav-link" data-toggle="tab">Identitas</a></li>
              <li class="nav-item"><a href="#profile-about" class="nav-link" data-toggle="tab">Struktur</a></li>
              <li class="nav-item"><a href="#profile-photos" class="nav-link " data-toggle="tab">Alumni</a>
              </li>
              <li class="nav-item"><a href="#profile-videos" class="nav-link" data-toggle="tab">Dokumentasi</a></li>
              <li class="nav-item"><a href="#profile-friends" class="nav-link" data-toggle="tab">Sarana Prasarana</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <footer class="bg-light text-center text-lg-start"> -->
<!-- Copyright -->
<!-- <div class="text-start p-2 " style="background-color: rgba(0, 0, 0, 0.2); margin-left: 2px;">
    Contact us:
    <h2> </h2>
    <i class="fab fa-facebook-f"> facebook.pondok</i>

    <i class="fab fa-twitter">Twitter.pondok </i>
    <i class="fab fa-instagram"> Instagram.pondok </i>
    <a class="text-dark" href="https://tegal.com/">linkponpes.com</a>
  </div> -->
<!-- Copyright -->
<!-- </footer> -->


<!--   
  <i class="fab fa-facebook-f"></i>

  <i class="fab fa-twitter"></i>

  <i class="fab fa-google"></i>

  <i class="fab fa-instagram"></i>

  <i class="fab fa-whatsapp"></i> -->




{% endblock %}