{% extends "adminpondok/dashboard.html" %}
{% block content %}
<!-- {% load static %} -->

<div
  class='jumbotron bgjumbotron jumbotron-fluid" style="background-image: url(".../img/jumbotron.jpg"); background-size: cover'>
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>




<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-start p-2 " style="background-color: rgba(0, 0, 0, 0.2); margin-left: 2px;">
    Contact us:
    <h2> </h2>
    <i class="fab fa-facebook-f"> facebook.pondok</i>

    <i class="fab fa-twitter">Twitter.pondok </i>
    <i class="fab fa-instagram"> Instagram.pondok </i>
    <a class="text-dark" href="https://tegal.com/">linkponpes.com</a>
  </div>
  <!-- Copyright -->
</footer>


<!--   
  <i class="fab fa-facebook-f"></i>

  <i class="fab fa-twitter"></i>

  <i class="fab fa-google"></i>

  <i class="fab fa-instagram"></i>

  <i class="fab fa-whatsapp"></i> -->




{% endblock %}