{% extends "base.html" %}
{%block content%}

<!-- ===========================================isi tab content==================================================== -->
<!-- <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <h2> </h2>
    <h3>Profil pengajar</h3>
</div>
tab input -->
<!-- <div class="tab-pane fade" id="input" role="tabpanel" aria-labelledby="profile-tab">
    <h2> </h2>
    <h3>input</h3>
</div> -->
<!-- ======================================== Modal pengaturan ===================================================== -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Pengaturan Akun</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Username</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="username">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="alamat email">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Password</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="password lama">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Ganti Password</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="password baru">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn" style="background-color: #138500;">
                    input</button>
            </div>
        </div>
    </div>
</div>
<!-- untuk Dashboard -->
<!-- <nav class="navbar navbar-light bg-white">
        <div class="container-fluid">
            <a class="navbar-brand">
                <h2>Dasboard pengajar</h2>
            </a>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" style="background-color:#138500 ;" type="submit">Search</button>
            </form>
        </div>
    </nav> -->

<!-- <div class="col-md-6">
        <div class="card mb-3" style="width: 900px; height: 400px;">
            <div class="card-header text-light " style="background-color: rgba(19, 133, 0, 1);">Pencapaian
                santri</div>
            <div class="card-body">
                <div class="min-h-screen bg-white py-2">
                    <div class=" row d-flex">
                        <table class=' overflow-auto bg-white divide-y divide-gray-300 justify-content-center'
                            style="border: green;">
                            <thead class="" style="background-color: #138500; color: #FFFFFF;">
                                <tr>
                                    <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> No </th>
                                    <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Nis </th>
                                    <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Nama
                                        Santri </th>
                                    <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-200">
                                <tr>
                                    <th scope="row" class="text-center">{{ forloop.counter }}</th>
                                    <td>{{d.nis}}</td>
                                    <td>{{d.nama_santri}}</td>
                                    <td>
                                        <a class="nav-link active" aria-current="page" href="#">Lihat</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

{%endblock%}