<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>santri-Sorogan</title>
</head>

<body>
    <h2> </h2>
    <h3>Pencapaian Sorogan Santri</h3>

    <div class="min-h-screen bg-white py-2">
        <div class=" row d-flex">
            <table class=' bg-white divide-y divide-gray-300 justify-content-center' style="border: green;">
                <thead class="" style="background-color: #138500; color: #FFFFFF;">
                    <tr>
                        <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Tanggal </th>
                        <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Kitab </th>
                        <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Bab </th>
                        <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Halaman </th>
                        <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Paragraf </th>
                        <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Pengajar </th>

                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    <tr>
                        <th scope="row" class="text-center">{{ data.tanggal }}</th>
                        <td>{{d.kitab}}</td>
                        <td>{{d.bab}}</td>
                        <td>{{d.halaman}}</td>
                        <td>{{d.paragraf}}</td>
                        <td>{{d.pengajar}}</td>

                    </tr>
                </tbody>
            </table>
        </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/f45fe3726b.js" crossorigin="anonymous"></script>

</html>