{% extends 'base.html' %}

{% block content %}

<h2> </h2>
<h3>pencapaian Bandongan Santri</h3>

<div class="card-body">
    <div class="min-h-screen bg-white py-2">
        <div class="container-fluid">
            <div class=" row d-flex">
                <table class="bg-white divide-y divide-gray-300' style=" border: green;">
                    <thead class="" style="background-color: #138500; color: #FFFFFF;">
                        <tr>
                            <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Tanggal </th>
                            <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Kitab </th>
                            <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Bab </th>
                            <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Halaman </th>
                            <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Paragraf </th>
                            <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Pengajar </th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                        <tr>
                            <th scope="row" class="text-center">{{ data.tanggal }}</th>
                            <td>{{d.kitab}}</td>
                            <td>{{d.bab}}</td>
                            <td>{{d.halaman}}</td>
                            <td>{{d.paragraf}}</td>
                            <td>{{d.pengajar}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{%endblock%}