{% extends "pengajar/coba.html" %}
{% block content %}

            <h3>Dashboard</h3>
             <main class="container-fluid mt-4">
                <div class="col-md-6">
                    <div class="card table-responsive" style="width: 900px; height: 400px;">
                        <div class="card-header text-light " style="background-color: rgba(19, 133, 0, 1);">Pencapaian
                            santri</div>
                            <div class="card-body">
                                <div class="min-h-screen bg-white py-2">
                                    <div class="row d-flex">
                                        <table
                                        class='table table-hover overflow-auto bg-white divide-y divide-gray-300'
                                        style="border: green;">
                                        <thead class="" style="background-color: #138500; color: #FFFFFF;">
                                            <tr>
                                                <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> No
                                                </th>
                                                <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Nis
                                                </th>
                                                <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Nama
                                                    Santri </th>
                                                    <th class="font-semibold text-sm uppercase px-4 py-2 text-center">
                                                        Action
                                                    </th>
                                                </tr>
                                        </thead>
                                        {% for d in data %}
                                        <tbody class="divide-y divide-gray-200">
                                            <tr>
                                                <th scope="row" class="text-center">{{ forloop.counter }}</th>
                                                <td>{{d.nis}}</td>
                                                <td>{{d.nama_santri}}</td>
                                                <td>
                                                    <a class="nav-link active" aria-current="page"
                                                        href="/pengajar/input">Lihat</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            
        </div>   
{% endblock %}