{% extends "pengajar/input.html" %}
{% block content %}

<h3>Pencapaian Quran Santri</h3>
<!-- Button trigger modal -->
<nav class="navbar navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                style="background-color: #138500;">
                Input
            </button>
        </a>
        <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" id="myInput"
                onkeyup="myFunction()" title="Type in a name">
            <button class="btn btn-success" style="background-color:#138500 ;" type="submit">Search</button>
        </form>
    </div>
</nav>

<!-- Button trigger modal -->
<div class="card-body table-responsive">
    <div class="min-h-screen bg-white py-2">
        <div class="container-fluid">
            <table class="table" id="myTable">
                <thead class="" style="background-color: #138500; color: #FFFFFF;">
                    <tr>
                        <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Tanggal </th>
                        <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Juz </th>
                        <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Surah </th>
                        <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Halaman </th>
                        <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Ayat </th>
                        <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Pengajar
                        </th>
                        <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Keterangan
                        </th>
                        <th class="font-semibold text-sm uppercase px-4 py-2 text-center"> Action </th>
                    </tr>
                </thead>
                {%for d in data%}
                <tbody class="divide-y divide-gray-500" style="border-color: #138500;">
                    <tr>
                        <th scope="row" class="text-center">{{ d.tgl }}</th>
                        <td>{{d.juz}}</td>
                        <td>{{d.surah}}</td>
                        <td>{{d.halaman}}</td>
                        <td>{{d.ayat}}</td>
                        <td>{{d.pengajar}}</td>
                        <td>{{d.keterangan}}</td>
                        <td scope="row" class="text-center">
                            <a class="btn btn-sm btn-danger"
                                href="/pengajar/pengajar_input_quran/{{d.id}}/deletequran"><i
                                    class="fas fa-trash-alt"></i></a>
                        </td>

                    </tr>
                </tbody>
                {%endfor%}
            </table>
        </div>
    </div>
</div>
</div>
</div>

<!-- Modal Input Progres Bandongan-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form action="" method="post">
                {% csrf_token %}

                <div class="modal-header">
                    <h5 class="modal-title">Input Al-Quran </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3" style="width: 50%">
                        <input disabled type="text" id="disabledTextInput" class="form-control" name="tgl"
                            value="{{data.tgl}}">
                        <label for="floatingPassword"> Tanggal </label>
                    </div>

                    <div class="form-floating mb-3" style="display: inline-block; width: 40%;">
                        <input type="text" class="form-control" name="juz" id="floatingInput"
                            placeholder="NomorIndukSantri">
                        <label for="floatingInput"> Juz </label>
                    </div>
                    <div class="form-floating mb-3 " style="display: inline-block;width: 30%;">
                        <input type="text" class="form-control" name="surah" id="floatingInput" placeholder="NoTelp">
                        <label for="floatingInput"> Surah </label>
                    </div>
                    <div class="form-floating mb-3 " style="display: inline-block ; width: 30%;">
                        <input type="text" class="form-control" name="halaman" id=" floatingPassword"
                            placeholder="NamaLengkap">
                        <label for="floatingPassword"> Halaman </label>
                    </div>

                    <div class="form-floating mb-3 " style="display: inline-block;width: 40%;">
                        <input type="text" class="form-control" name="ayat" id="floatingInput" placeholder="NoTelp">
                        <label for="floatingInput"> Ayat </label>
                    </div>
                    <div class="form-floating mb-3 " style="display: inline-block;width: 40%;">
                        <input type="text" class="form-control" name="pengajar" id="floatingInput" placeholder="NoTelp">
                        <label for="floatingInput"> Pengajar </label>
                    </div>
                    <h></h>

                    <div class="form-floating mb-3">
                        <textarea class="form-control" name="keterangan" placeholder="Leave a comment here"
                            id="keterangan" style="height: 100px"></textarea>
                        <label for="keterangan"> Keterangan</label>
                    </div>
                    <h></h>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" style="background-color: #138500;">Simpan
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

{%endblock%}