<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- {% extends "pengajar/coba.html" %} -->
<!-- {% block content %} -->

<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Nama Santri
                    </a>
                </li>
                <li>
                    <a href="/pengajar/input_quran">Al Quran</a>
                </li>
                <li>
                    <a href="/pengajar/input_matan">Matan</a>
                </li>
                <li>
                    <a href="/pengajar/input_nadzom">Nadzom</a>
                </li>
                <li>
                    <a href="/pengajar/input_sorogan">Sorogan</a>
                </li>
                <li>
                    <a href="/pengajar/input_bandongan">Bandongan</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>

<!-- {% endblock %} -->
</body>
</html>